*{
	box-sizing: border-box;
	list-style: none;
}

body{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

h2{
	text-align: center;
}
.header, .footer{
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;

}

.header{
	background-color: yellow;
}

.header ul{
	display: flex;
	padding-left: 0;
}


.header ul li{
	margin-left: 16px;	
}


.main-section{
	width: 100%;
	flex-grow: 1;
	display: flex;
}

.main{
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	background-color: pink;
	display: flex;
}

.aside{
	width: 200px;
	background-color: grey;
}

.aside h2{
	padding: 16px 0;
	margin: 0;

}

.aside ul{
	padding: 0;

	margin: 0;
}

.aside li{
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 32px;
}

.footer{
	background-color: green;
	align-items: center;
	display: flex;
}

.footer p{
	margin: 0 auto;
}
