* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.block {
    display: flex;
    min-height: 200px;
}

.navigation {
    background-color: #ff7f50;
}

.procucts-list {
    background-color: #006400;
}

.news {
    background-color: #0ff;
}

span {
    text-transform: lowercase;
    padding: 8px;
    background-color: #faebd8;
    border-radius: 4px;
    margin: auto;
    display: flex;
    align-items: center;

}

@media only screen and (min-width: 599px) {}


@media only screen and (min-width: 899px) {
    .line {
        display: flex;
        width: 100%;
    }

    .line .block {
        width: 50%
    }

}

@media only screen and (min-width: 1200px) {
    body {
        display: flex;
        align-items: stretch;
    }

    .line {
        width: 66.66%;
    }

    .block {
       width: 33.33%;
    }
}