*{
	list-style: none;
}

.list li{
	font-size: 1.5em;
}

.list .third{
	text-decoration:  overline;
}

.list li.second{
	text-decoration: line-through;
}

.list li.first{
	text-decoration: overline red;
}