*{
	list-style-type: none;
}

li{
	font-size: 1.5rem;
}

li:last-child{
	text-decoration: underline green;
}

li:nth-child(2){
	text-decoration: line-through;
}

li:first-child{
	text-decoration: overline red;
}