@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
html{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

section{
	margin: 32px;
}	

h1{
	word-spacing: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
}

p{
	line-height: 28px;
}

p .selected{
	font-weight: 900;
	letter-spacing: 3px;
	font-size: 24px;
	opacity: .8;
	text-decoration: underline;
}

a{
	text-decoration: none;
}

p em{
	font-size: italic;
	color: grey;
}