$layout-breakpoint-xs: 600px;
$layout-breakpoint-ss: 899px;
$layout-breakpoint-m: 1199px;
$layout-breakpoint-l:120px;

$sm:600px;
$md:900px;
$lg:1200px;

.square{
				background-color:#ff7f50;
}

@mixin for-mor-xs{
			@media screen and (min-width:$sm){
				@content;
			}
}
@mixin for-xs{
	@media screen and (max-width:$sm-1){
		@content;				
	}
}


@mixin for-midium-up{
	@media screen and (min-width:$sm) and (max-width: $md - 1) {
		@content;
	}

}



@mixin for-large-up{
	@media screen and (min-width: $md) and (max-width:$lg - 1) {
		@content;
			
		}
}


@mixin for-ex-large{
	@media screen and (min-width: $lg)  {
		@content;
			
		}
}




